.classpara{

    color: blueviolet;
    font-size: large;
    font: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-display: none;
    text-align: center;
    text-shadow: 1px 21px 12px;

}

.classh1{

    color: blueviolet;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    justify-content: flex-end;

}

.classh2{

    color: brown;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-display: solid;
    text-align: left;
    text-decoration: line-through;
    text-shadow: 1px 2px 20px;

}

.classh3{

    color: blue;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: oblique;
    text-align: end;
    text-overflow: initial ;
    text-shadow: 2px 5px 10px;

}

.classh4{

    color: cadetblue;
    font-size: x-large;
    font-family: cursive ;
    font-weight: unset;
    font-style: inherit;
    text-align: justify;
    text-decoration: wavy;
    text-transform: uppercase;

}

.classh5{

    font: 100px;
    font-size:xx-small ;
    font-family: serif;
    font-weight: lighter;
    font-style: oblique;
    font-stretch: expanded;
    text-align: justify;
    text-decoration: dotted;
    text-transform: capitalize;
    text-overflow: ellipsis;
    text-shadow: 12px 10px 20px;

}


.classh6{

    color: darkgreen;
    font-size: xx-small;
    font-family: sans-serif;
    font-style: italic;
    font-display: solid;
    text-align: start;
    text-decoration: overline;
    text-transform: none;
    text-overflow: clip;
    text-shadow: 1px 2px 3px;

}

.classimg{

    width: 200px;
    height: 200px;
    justify-content: center;
    
}

